/* @import url('https://fonts.cdnfonts.com/css/infra'); */
body {
    font-family: Infra;
    overflow-y: hidden;
}
.card {
    border-color: black;
    background-color: white;
    border-radius: 2em;
    border: 3px solid;
    width: 14em;
    
    padding: 5%;
    display: flex;
    flex-direction: column;
    height: 20em;
    justify-content: space-between;
    font-size: 2vw;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 2%;
    scroll-snap-align: center;
    transition: font-size 0.3s linear;
    z-index: inherit;
}

.card_image{
    border-color: black;
    background-color: white;
    border-radius: 2em;
    border: 3px solid;
    width: 14em;
    
    padding: 5%;
    display: flex;
    flex-direction: column;
    height: 20em;
    justify-content: space-between;
    font-size: 2vw;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 2%;
    scroll-snap-align: center;
    transition: font-size 0.3s linear;
    z-index: inherit;
}


.focused {
    z-index: 5;
    font-size: 3vw;
    width: 16em;
    height: auto;
    transition: all 0.3s linear;
}


.title {
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.curse_content {
    font-size: 1em;
    font-weight: 400;
    text-align: left;
    max-width: 100%;
}

.casting_cost{
    font-weight: 700;

}

.time_bonus_content{
    text-align: center;
    font-size: 4em;
    font-weight: 800;
    flex-grow: 0;
    padding-top: 35%;

}

.time_bonus_static{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    justify-self: flex-start;
    flex-grow: 1;
}

.powerup_content {
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    flex-grow: 1;
    padding-top: 40%;
}

.hand {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5%;
    overflow-x: scroll;
}

#focus_background {
    background-color: white;
    opacity: 70%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    display: none;
}

#discard_button {
    position: relative;
    text-align: center;
    z-index: 3;
    background-color: white;
    border: 2px solid black;
    border-radius: 10%;
    padding: 5%;
    width: 3.5em;
    height: 3em;
    display: none;
    font-weight: 600;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    
}


#deck_button {
    font-weight: 600;
    position: relative;
    text-align: center;
    z-index: 1;
    background-color: white;
    border: 2px solid black;
    border-radius: 10%;
    padding: 5%;
    width: 3.5em;
    height: 3em;
}

.button{
    font-weight: 600;
    text-align: center;
    z-index: 3;
    border: 2px solid black;
    border-radius: 10%;
    padding: 5%;
    width: 3.5em;
    height: 3em;
}

#draw_dialog{
    position: absolute;
    z-index: 3;
    top: -100%;
    width: 80%;
    height: auto;
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
    background-color: white;
}

.draw_options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.option{
    padding: 5%;
    border: 2px solid black;
    border-radius: 0.4em;
    margin: 3%;
    font-size: 1.5em;
}

.selected_option{
    background-color: #aaa;
}

#draw_market{
    display: flex;
    flex-direction: column;
    z-index: 4;
    position: absolute;
    top: 5%;
    width: 100%;
    justify-content: center;
    overflow-y: scroll;
}

.market_card{
    position: relative;
    left: -200px;
}

.selected_draw{
    z-index: 3;
    font-size: 3vw;
    transform:translateX(-15%);
    border-width: 6px;
    transition: all 0.3s linear;
}

#settings_box {

    z-index: 9;
}

#settings {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    justify-content: space-around;
    width: 100%;
}

#import_button {
    justify-self: center;
}

#file_upload_button {
    width: fit-content;
    border: #000 1px solid;
    padding: 2%;
    border-radius: 2em;
    background-color: #ddd;
}
input[type="file"] {
    display: none;
}


.full_container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0%;
}

#join_box {
    z-index: 9;

}

#landing_page {
    z-index: 10;
}

#landing_options {
    display: flex;
    justify-content: space-evenly;
}

.hidden {
    top: 100%;
    transition: all 0.2s linear;
}
.qrcode_container{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}
#reader_wrapper{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
text-align: center;
width: 100%;
height: 50%;
top: 0;
}

#qrcode canvas,img{
margin-left: auto;
margin-right: auto;
display: block;
padding-bottom: 5%;
}

#exit_button{
    border: black solid 1px;
    padding: 2%;
    border-radius: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0%;
    margin: 1%;
}

#qr_button{
    border: black solid 1px;
    padding: 2%;
    border-radius: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0%;
    margin: 1%;
}